//! **************************************************************************
// Written by: Map P.20131013 on Wed Oct 10 14:52:08 2018
//! **************************************************************************

SCHEMATIC START;
COMP "rx" LOCATE = SITE "B6" LEVEL 1;
COMP "tx" LOCATE = SITE "C6" LEVEL 1;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "leds<0>" LOCATE = SITE "M5" LEVEL 1;
COMP "leds<1>" LOCATE = SITE "M11" LEVEL 1;
COMP "leds<2>" LOCATE = SITE "P7" LEVEL 1;
COMP "leds<3>" LOCATE = SITE "P6" LEVEL 1;
COMP "leds<4>" LOCATE = SITE "N5" LEVEL 1;
COMP "leds<5>" LOCATE = SITE "N4" LEVEL 1;
COMP "leds<6>" LOCATE = SITE "P4" LEVEL 1;
COMP "leds<7>" LOCATE = SITE "G1" LEVEL 1;
COMP "reset" LOCATE = SITE "A7" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

